:root {
  --black: #202020;
  --white: #ffffff;
  --grey: #eaedf5;
  --blue: #1d4ecc;
  --green: #b5f5bf;
  --light-green: #d2ffd1;
  --red: #fab4b4;
  --yellow: #fdf2b9;
  --dark-white: #202020;
  --grey-dark: #eaedf5;
  --custom-white: #fff;
  --custom-dark-gray: #545f72;
  --custom-black: #fff;
  --custom-blue: #1d4ecc;
  --custom-black-text: #344055;
  --custom-light-gray-color: #e9eaeb;
}

.night__mode {
  --blue: #b5f5bf;
  --white: #4c4c4c;
  --black: #fff;
  --grey: #4c4c4c;
  --dark-white: #ffff;
  --grey-dark: #202020;
  --custom-white: #3b414a;
  --custom-dark-gray: #717680;
  --custom-black-text: #fff;
  --custom-black: #2d313b;
  --custom-light-gray: #ffffff14;
  --custom-blue: #1f5eff;
}
